{% extends ["@",service,"/Base.twig"]|join %}

{% block content %}
    <div class="message-box d-none animated alert alert-danger " role="alert">
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Password reset</h4>


            <div class="md-form">
                <input id="newPassword" type="password" class="form-control mb-4"/>
                <label for="newPassword">New password</label>
            </div>

            <div class="md-form">
                <input id="newPasswordAgain" type="password" class="form-control mb-4"/>
                <label for="newPasswordAgain">New password again</label>
            </div>

            <button id="changePassword" class="btn btn-indigo my-4 btn-block">Change Password</button>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $("button#changePassword").click((event) => {
                event.preventDefault();
                toggleSpinner(false);

                $.ajax({
                    url: "{{ changeUrl }}",
                    method: "post",
                    data: {
                        "newPassword": $("#newPassword").val(),
                        "newPasswordAgain": $("#newPasswordAgain").val(),
                        "token": "{{ token }}",
                    },
                    success: (data, status, jqxhr) => {
                        console.log(data.responseJSON);
                        toggleSpinner(true);
                        showResponseMessage(true, "Password changed successfully", "Go to <a href=\"{{ loginUrl }}\">login page</a>.")
                    },
                    error: (data, status, jqxhr) => {
                        console.log(data);
                        toggleSpinner(true);
                        switch (data.status) {
                            case 401 :
                                showResponseMessage(false, "Token invalid or expired.", "Request another token <a href=\"{{ forgotUrl }}\">here</a>, or contact system administrator.");
                                break;
                            case 400 :
                                showResponseMessage(false, data.responseJSON, "");
                                break;
                            default :
                                showResponseMessage(false, "Fatal error during password change request", "Please contact system administrator");
                                break;
                        }
                    },
                });
            })
        });

        function showResponseMessage(isSuccess, title, message) {
            let box = $(".message-box");

            if(isSuccess){
                $(box).removeClass("d-none alert-danger").addClass("alert-info");
            }else{
                $(box).removeClass("d-none alert-info").addClass("alert-danger");
            }

            $(box).html("<h4>" + title + "</h4><p>" + message + "</p>");
        }

    </script>
{% endblock %}

