{% extends ["@",service,"/Base.twig"]|join %}



{% block content %}


    <h1 class="errorBox" style="color:red">{{ errorMsg }}</h1>

    <div id="loginWithPassword" class="{{ passwordLogin }} d-none card animated fadeInRight" style="position:absolute;">
        <!-- Card content -->
        <div class="card-body">
            <div  style="height:200px;">
                <form method="post" action="{{ loginUrl }}">
                    Username<br/>
                    <input name="username" type="text"/><br/>
                    Password<br/>
                    <input name="password" type="password"/><br/>
                    <input type="submit" value="Sign in"/>
                </form>
                <a href="{{ forgotUrl }}">Forgot password</a>
                <br/>
                <span class="to_card_2">Other login method</span>
            </div>
        </div>
    </div>

    <div id="requestLoginCode" class="d-none card animated fadeOutLeft" style="position:absolute;">
        <!-- Card content -->
        <div class="card-body">
            <div >
                Username<br/>
                <input id="usermail" type="text"/><br/>
                <button id="requestCode">Request code</button>
            </div>
        </div>
    </div>


    <div id="loginWithAuthCode" class="{{ codeLogin }} d-none card animated fadeOutLeft" style="position:absolute;">
        <!-- Card content -->
        <div class="card-body">

            <form method="post" action="{{ loginUrl }}">
                Verification code<br/>
                <input name="code" type="text"/><br/>
                <input type="submit" value="Sign in"/>
                <input type="hidden" name="type" value="{{ codeLogin }}"/>
            </form>
            <span class="to_card_1">Back to password login</span>
        </div>
    </div>




{% endblock %}


{% block scripts %}
    <script>

        var cardStates = [
            {
                loginWithPassword : true,
                requestLoginCode : false,
                loginWithAuthCode : false,
            },
            {
                loginWithPassword : false,
                requestLoginCode : true,
                loginWithAuthCode : false,
            },
            {
                loginWithPassword : false,
                requestLoginCode : false,
                loginWithAuthCode : true,
            }
        ];

        $(document).ready(function () {
            initCardVisibility();
            initCardLinks();
            initLoginCodeRequest();
        });

        function initCardVisibility(){
            let currentCard = "{{ openedAt }}";
            switch (currentCard) {
                case "{{ passwordLogin }}" : showCard(cardStates[0]); break;
                case "{{ codeLogin }}" : showCard(cardStates[2]); break;
                default : console.log("invalid value for currentCard: " + currentCard ); break;
            }
        }


        function initLoginCodeRequest(){
            $("button#requestCode").click((event) => {
                event.preventDefault();

                console.log($("input#usermail").val());

                $.ajax({
                    url: "{{ codeUrl }}",
                    method: "post",
                    data: {
                        "usermail": $("input#usermail").val(),
                    },
                    success: (data, status, jqxhr) => {
                        console.log(data);
                        alert(data);
                        showCard(cardStates[2]);
                    },
                    error: (data, status, jqxhr) => {
                        console.log(data);
                        $("h1#errorBox").html(data.responseJSON);
                    },
                });
            });
        }

        function initCardLinks(){
            $(".to_card_1").click(function(){showCard(cardStates[0])});
            $(".to_card_2").click(function(){showCard(cardStates[1])});
            $(".to_card_3").click(function(){showCard(cardStates[2])});
        }

        function showCard(stateAnimation){
            Object.entries(stateAnimation).forEach(entry => {
                let key = entry[0];
                let value = entry[1];

                let card = $("div#"+key);
                let lastClass = $(card).attr("class").split(' ').pop()
                $(card).removeClass(lastClass);
                if(value){
                    $(card).removeClass("d-none").addClass("fadeInRight");
                }else{
                    $(card).addClass("fadeOutLeft");
                }
            });
        }
    </script>
{% endblock %}