{% extends ["@",service,"/Base.twig"]|join %}



{% block content %}
    <div class="message-box d-none animated alert alert-danger " role="alert">
        <strong>{{ errorMsg }}</strong>
    </div>

    <div id="loginWithPasswordCard" class="{{ passwordLogin }} d-none card animated">
        <!-- Card content -->
        <div class="card-body medev-card" >
            <form method="post" action="{{ loginUrl }}" class="text-center">
                <h4 class="card-title">Sign in</h4><br/>
                <input name="username" type="text" class="form-control mb-4" placeholder="E-mail or Username"/>
                <input name="password" type="password" class="form-control mb-4" placeholder="Password"/>
                <a href="{{ forgotUrl }}">Forgot password</a>
                <button id="loginWithPassword"  type="submit" class="btn btn-indigo my-4 btn-block">Sign in</button>
                <button type="button" class="to_card_2 btn btn-light my-4 btn-block">Other login method</button>
            </form>
        </div>

    </div>

    <div id="requestLoginCodeCard" class="d-none card animated">
        <!-- Card content -->
        <div class="card-body">
            <h4 class="card-title">Sign in</h4><br/>
            <input id="usermail" type="text" class="form-control mb-4" placeholder="E-mail or Username"/>
            <button id="requestLoginCode" type="button" class="btn btn-indigo my-4 btn-block">Request code</button>
            <a href="javascript:void(0);" class="to_card_1">Back to password login</a>
        </div>
    </div>


    <div id="loginWithAuthCodeCard" class="{{ codeLogin }} d-none card animated" style="max-width:300px;">
        <!-- Card content -->
        <div class="card-body">
            <form method="post" action="{{ loginUrl }}" class="text-center">
                <h4 class="card-title">Sign in</h4><br/>
                <p class="mb-4">Copy and paste the verification code from the e-mail you received earlier.</p>
                <input id="code" name="code" type="text" class="form-control mb-4" placeholder="Verification code"/>
                <input id="type" name="type" type="hidden"  value="{{ codeLogin }}"/>
                <button id="loginWithCode" name="submitCode" type="submit" class="btn btn-indigo my-4 btn-block">Verify</button>
                <a href="javascript:void(0);" class="to_card_1">Back to password login</a>
            </form>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    <script>
        $.urlParams = function(name){
            let results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            return results ? results[1] || 0: false;
        };

        const cardStates = [
            {
                loginWithPasswordCard: true,
                requestLoginCodeCard: false,
                loginWithAuthCodeCard: false,
            },
            {
                loginWithPasswordCard: false,
                requestLoginCodeCard: true,
                loginWithAuthCodeCard: false,
            },
            {
                loginWithPasswordCard: false,
                requestLoginCodeCard: false,
                loginWithAuthCodeCard: true,
            }
        ];

        $(document).ready(function () {
            initCardVisibility();
            initCardLinks();
            initFormButtons();
            initLoginCodeRequest();
        });

        function initCardVisibility() {
            let currentCard = "{{ openedAt }}";

            switch (currentCard) {
                case "{{ passwordLogin }}" :
                    showCard(cardStates[0]);
                    break;
                case "{{ codeLogin }}" :
                    showCard(cardStates[2]);
                    break;
                default :
                    console.log("invalid value for currentCard: " + currentCard);
                    break;
            }
            if($.urlParams("error")){
                $(".message-box").removeClass("d-none").addClass("fadeInRight");
            }
        }


        function initLoginCodeRequest() {
            $("button#requestLoginCode").click((event) => {
                event.preventDefault();
                toggleSpinner(true);
                $.ajax({
                    url: "{{ codeUrl }}",
                    method: "post",
                    data: {
                        "usermail": $("input#usermail").val(),
                    },
                    success: (data, status, jqxhr) => {
                        console.log(data);
                        toggleSpinner(false);
                        showCard(cardStates[2]);
                        $(".message-box")
                            .removeClass("d-none alert-danger")
                            .addClass("alert-info")
                            .html(data);
                    },
                    error: (data, status, jqxhr) => {
                        console.log(data);
                        toggleSpinner(false);
                        $(".message-box")
                            .removeClass("d-none alert-info")
                            .addClass("alert-danger")
                            .html(data.responseJSON);
                    },
                });
            });
        }

        function initFormButtons(){
            $("form").submit((event) => {
                console.log(event);
                toggleSpinner(true);
            });
        }

        function initCardLinks() {
            $(".to_card_1").click(function () {
                showCard(cardStates[0]);
                $(".message-box").addClass("d-none");
            });
            $(".to_card_2").click(function () {
                showCard(cardStates[1]);
                $(".message-box").addClass("d-none");
            });
            $(".to_card_3").click(function () {
                showCard(cardStates[2]);
                $(".message-box").addClass("d-none");
            });
        }

        function showCard(stateAnimation) {
            Object.entries(stateAnimation).forEach(entry => {
                let key = entry[0];
                let value = entry[1];

                let card = $("div#" + key);
                $(card).removeClass("fadeOutLeft fadeInRight");
                if (value) {
                    $(card).removeClass("d-none").addClass("fadeInRight");
                } else {
                    $(card).addClass("d-none fadeOutLeft");
                }
            });
        }

        function toggleSpinner(visible){
            if(visible){
                $("button").prop('disabled', true);
            }else{
                $("button").prop('disabled', false);
            }
        }
    </script>
{% endblock %}