{% extends ["@",service,"/Base.twig"]|join %}

{% block content %}
    <center>
        <h1 id="errorBox" style="color:red">{{ errorMsg }}</h1>
        <div id="loginWithPassword">
            <form method="post" action="{{ loginUrl }}">
                Username<br/>
                <input name="username" type="text"/><br/>
                Password<br/>
                <input name="password" type="password"/><br/>
                <input type="submit" value="Sign in"/>
            </form>
            <a href="{{ forgotUrl }}">Forgot password</a>
        </div>
        <br/>
        <br/>
        <div id="requestLoginCode">
            Username<br/>
            <input id="usermail" type="text"/><br/>
            <button id="requestCode">Request code</button>
        </div>
        <br/>
        <br/>
        <div id="loginWithAuthCode">
            <form method="post" action="{{ loginUrl }}">
                Verification code<br/>
                <input name="code" type="text"/><br/>
                <input type="submit" value="Sign in"/>
                <input type="hidden" name="type" value="{{ codeLogin }}"/>
            </form>
        </div>
    </center>
{% endblock %}


{% block scripts %}
    <script>
        $(document).ready(function () {
            $("button#requestCode").click((event) => {
                event.preventDefault();

                console.log($("input#usermail").val());

                $.ajax({
                    url: "{{ codeUrl }}",
                    method: "post",
                    data: {
                        "usermail": $("input#usermail").val(),
                    },
                    success: (data, status, jqxhr) => {
                        console.log(data);
                        alert(data.message);
                    },
                    error: (data, status, jqxhr) => {
                        console.log(data);
                        $("h1#errorBox").html(data.responseJSON);
                    },
                });
            })
        });
    </script>
{% endblock %}