{% extends ["@",service,"/Base.twig"]|join %}



{% block content %}
    <div class="message-box d-none animated alert alert-danger " role="alert">
        <strong>{{ errorMsg }}</strong>
    </div>

    <div id="loginWithPasswordCard" class="{{ passwordLogin }} d-none card animated">
        <!-- Card content -->
        <div class="card-body medev-card" >
            <form method="post" action="{{ loginUrl }}" class="text-center">
                <h4 class="card-title">Sign in</h4><br/>
                <input name="username" type="text" class="form-control mb-4" placeholder="E-mail or Username"/>
                <input name="password" type="password" class="form-control mb-4" placeholder="Password"/>
                <a href="{{ forgotUrl }}">Forgot password</a>
                <button id="loginWithPassword"  type="submit" class="btn btn-indigo my-4 btn-block">Sign in</button>
                <a href="{{ authcodeLoginUrl }}">
                    <button type="button" class="to_card_2 btn btn-light my-4 btn-block">Other login method</button>
                </a>
            </form>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            if($.urlParams("error")){
                $(".message-box").removeClass("d-none").addClass("fadeInRight");
            }
        });
    </script>

{% endblock %}